<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>⚔️🛡VengerStore</title>
  {% load staticfiles %}
  <link rel="shortcut icon" href="{% static 'mainApp/images/iconfinder_Shopping_cart_132683.ico'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'mainApp/css/imports.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/main.js'%}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/login.js'%}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/media_telephone.js'%}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/bootstrap.min.js'%}"></script>
</head>


<body>

  <div class="body">
    <div class="nav-container">
      <nav id="main-nav">
        {% include "front_end/includes/nav_content.html"%}
      </nav>
    </div>
    <div id="main-container">
      {% include "front_end/includes/help.html"%}
      {% include "front_end/includes/goods_content.html"%}
      <!-- <canvas class="anime"></canvas>
<script src="{% static 'mainApp/js/BackCircles.js'%}" async></script> -->

    </div>
    <footer id="main-footer">
      {% include "front_end/includes/footer.html"%}
    </footer>
  </div>
</body>


</html>
