@font-face {
  /* название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)  */
  font-family: "AlexBrush-Regular";
  /* адрес шрифта и тип  */
  src: url("../fonts/AlexBrush-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
/* название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) */
font-family: "Sears_Tower";
/* адрес шрифта и тип */
src: url("../fonts/Sears_Tower.ttf") format("truetype");
font-style: oblique;
font-weight: normal;
}
