.transparent-background {
  width: 100vw;
  height: 100vh;
  background-color:rgba(255, 250, 15, 0.55);
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}

/* #log-in:hover .transparent-background{
  display: block;
  cursor: crosshair;
}
#log-in{
    cursor: crosshair;
} */
