<a href='/' class="logo">
  <div class="in">⚔️<span>Venger</span>⚔️</div>
</a>
<div class=links>
  <div class="top-links">
    <a href="{{help}}">help</a>
    {% if user.is_authenticated %}
    <span class="delimiter">|</span>
    <a href="">orders</a>
    {% endif %}
    <!-- <span class="delimiter">|</span> -->
    {% include "front_end/includes/login_form.html"%}
  </div>

  <div class="bot-links">
    <section class="section">
      <a href="">products type</a>
      <div class="hiden-part">
        <canvas class="bubbles"></canvas>
        <div class="ul-container">
          {% for i in products_type %}
          <a href="?type={{i.idgoodstype}}">{{i.type}}</a>
          {% endfor %}
        </div>

      </div>
      <span class="delimiter">|</span>
    </section>

    <section class="section">
      <a href="">firms</a>
      <div class="hiden-part">
        <canvas class="bubbles"></canvas>
        <div class="ul-container">
          {% for i in firms_name %}
          <a href="?firm={{i.idfirms}}">{{i.name}}</a>
          {% endfor %}
        </div>

      </div>
      <span class="delimiter">|</span>
    </section>

    <section class="section">
      <a href="">filter</a>
      <div class="hiden-part">
        <div class="hiden-part">
          <canvas class="bubbles"></canvas>
          <div class="ul-container">
            <form action="" method="get">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="formGroupExampleInput">Surname</label> -->
                <input onkeyup="return proverka(this);" type="text" class="form-control" name='good_name_by_regular' placeholder="Search">
                <button type="submit" name='is_filter' value="filter" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
