.nav-container {
  grid-area: "nav";
}

#main-nav {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 107, 0);
  max-height: 60px;
  min-height: 60px;
  z-index: 10;
  position: fixed;
  width: 100%;
  /* position: sticky; */
  top: 0;
  right: 0;
}

#main-nav .links {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-grow: 4; */
}

#main-nav .logo {
  display: flex;
  flex-grow: 1;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

#main-nav .logo .in {
  font-size: 30px;
  font-weight: 900;
  transform: scale(1, 1.2);
}

#main-nav .logo .in span {
  margin: 0 7px;
}

#main-nav .top-links {
  display: inline-flex;
  /* flex-wrap: wrap; */
  /* order: 0; */
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  /* margin-right: 20px; */
  background: linear-gradient(175deg, rgb(0, 0, 0), rgba(116, 116, 116, 0.55));
}

#main-nav .bot-links {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

#main-nav a {
  color: inherit;
  text-decoration: none;
}

#main-nav div {
  text-decoration: none;
  text-transform: uppercase;
}

#main-nav .delimiter {
  margin: 0 10px;
}

#log-in {
  margin-left: 30px;
}

#logo-icon {
  display: inline;
  padding-left: 5px;
  padding-right: 8px;
}

#main-nav a:hover {
  color: rgb(255, 255, 255);
}

.hiden-part {
  display: none;
  position: absolute;
  background-color: rgb(179, 41, 77);
  left: 0;
  width: 100vw;
  height: 300px;
}

.section:hover {
  /* background-color: #c4c4c4; */
}

.section:hover .hiden-part {
  background-color: inherit;
  display: block;
}

.hiden-part .ul-container {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: flex-start;
}

.hiden-part .ul-container section {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
}

.hiden-part .ul-container h2 {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: -10px;
  align-self: center;
}

.hiden-part .ul-container ul {
  /* align-self: flex-start; */
  margin: 20px 30px;
}

.hiden-part .ul-container li {
  list-style-type: none;
  margin: 10px 0;
}
